.feature-list {
  display: flex;
  flex-wrap: wrap;
}

@media(min-width: 768px) {
  .feature-list .feature-item {
    width: 25%;
    padding: 24px;
    text-align: center;
  }
}

@media(max-width: 767px) {
  .feature-item {
    width: 50%;
    padding: 12px;
    text-align: center;
  }
}