.foot-wrap {
    background-color: #373f48;
    margin-top: 80px;
}

.row-content >h3 {
    color: #DDD;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    margin: 40px 0 30px 34px;
}

.row-content .row-content-text {
    color: #878B91;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 40px 0 30px 34px;
}

.row-content >ul {
    font-size: 18px;
    line-height: 20px;
}

.row-content >ul >li {
    list-style: none;
    line-height: 48px;
    text-align: center;
}
.row-content >ul >li >a {
    color: #878B91;
}
.row-content >ul >li > a:hover {
    text-decoration: none;
    color: #c1ba62;
}

ul.social {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

ul.social >li {
    flex: 1;
}
ul.social >li >a {
    display: inline-block;
    font-size: 38px;
    line-height: 50px;
    border-radius: 36px;
    color: #fff;
}
ul.social >li >a:hover {
    text-decoration: none;
    background-color: "@link-hover-color";
}
.wechat {
    text-align: center;
}
.wechat img{
    width: 100%;
    max-width: 350px;
}
@media(max-width: 768px) {
    .social >li {
        min-width: 50%;
    }
    .row-content .row-content-text {
        font-size: 14px;
        text-align: center;
        margin: 20px 0;
    }
    .row-content >ul{
        padding: 0;
        font-size: 16px;
    }
    .row-content>h3 {
        margin: 25px 0;
    }
}