header {
  background-image: url('../../img/header.png');
}

header .header-content .header-content-inner h1 {
  text-transform: none;
}

header .get-start {
  background: #7bb5e4;
}

header .get-start:hover {
  background: #2884ee;
}

 /*md导航*/
 .BlogAnchor {
     padding: 10px;
     line-height: 180%;
     position: fixed;
     right: 0;
     top: 48px;
     max-width: 15vw;
     z-index: 2;
     background: #fff;
 }

 .BlogAnchor p {
     font-size: 18px;
     color: #95989d;
     margin: 0 0 0.3rem 0;
     text-align: right;
 }

 .BlogAnchor .AnchorContent {
     padding: 5px 0px;
     overflow: auto;
 }

 .BlogAnchor li {
     text-indent: 0.5rem;
     font-size: 14px;
     list-style: none;
 }

 .BlogAnchor li .nav_item {
     padding: 3px;
 }

 .BlogAnchor li .item_h1 {
     margin-left: 0rem;
 }

 .BlogAnchor li .item_h2 {
     margin-left: 2rem;
     font-size: 0.8rem;
 }
 .BlogAnchor li .nav_item{
   color: #878B91;
 }

 .BlogAnchor li .nav_item.current {
   text-decoration: underline;
 }

 #AnchorContentToggle {
     font-size: 13px;
     font-weight: normal;
     display: inline-block;
     line-height: 20px;
     font-style: normal;
     padding: 1px 8px;
 }

 .BlogAnchor a:hover {
   text-decoration: underline;
 }

 .BlogAnchor a {
     text-decoration: none;
 }
@media(max-width: 768px) {
  .BlogAnchor{
    display: none;
  }
}