header {
  background-image: url('../../img/header.png')
}

header .header-content .header-content-inner h1 {
  text-transform: none;
}

header .get-start {
  background: #7bb5e4;
}

header .get-start:hover {
  background: #2884ee;
}