/* style defined by ourselves */
@import url('./nav.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./list.css');
@import url('./single.css');
@import url('./features.css');

main {
  height: 100%;
  width: 100%;
}