.blog-list {
  height: 100%;
  padding-top: 50px;
  background-image: url('../../img/header.png');
  overflow: hidden;
}

.blog-list .wrapper {
  min-height: 100%;
  padding-bottom: 24px;
  background: #fff;
  overflow: auto;
}

.blog-list .wrapper > h3 {
  margin: 64px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.blog-list .list {
  list-style: none;
  padding: 0;
}

.blog-list .blog-summary .picture {
  text-align: center;
}

.blog-list .blog-summary + .blog-summary {
  margin-top: 24px;
}

.blog-list .blog-summary .text {
  display: flex;
  flex-direction: column;
}

.blog-list .text h3 {
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.blog-list p {
  margin: 0;
  color: #999;
  font-size: 12px;
}

.blog-list .pc-content, 
.blog-list .mobile-content {
  display: none;
}

/* PC style */
@media(min-width: 768px) {
  .blog-list .list img {
    width: 150px;
    height: 150px;
  }

  .blog-list p {
    font-size: 14px;
  }

  .blog-list .list {
    width: 960px;
    margin: auto;
  }


  .blog-list .text h3 {
    margin-bottom: 24px;
    font-size: 18px;
    color: #000;
  }

  .blog-list .pc-content {
    display: block;
  }
} 

/* Mobile style */
@media(max-width: 767px) {
  .blog-list .mobile-content {
    display: block;
  }

  .blog-list .wrapper > h3 {
    margin: 24px 0px;
    font-size: 24px;
  }


  .blog-list .blog-summary .picture {
    padding-right: 0px;
  }

  .blog-list .blog-summary .text {
    padding-left: 0px;
  }

  .blog-list .list img {
    width: 64px;
    height: 64px;
  }
}