/* fix bootstrap navbar submenu in mobile */
.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-default .navbar-header .navbar-brand, .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
  text-transform: none;
}

.dropdown-menu {
  min-width: 150px;
}

.navbar-right .dropdown-menu {
  left: -1px !important;
  right: auto;
}

.dropdown-menu>li>a:hover {
  background-color: #fff;
  text-decoration: underline;
}

.dropdown-menu>li>a:focus {
  background-color: #222;
}

@media(min-width: 768px) {
  .navbar {
    background: url('../../img/header.png') center;
  }

  .navbar.affix {
    background: #fff;
  }
  
  .navbar-brand {
    width: 150px;
    height: 50px;
    background-image: url('../../img/logo-white.png');
    background-size: cover;
  }

  .navbar.affix .navbar-brand {
    background-image: url('../../img/logo-dart.png');
  }

  .navbar-header > .github-star {
    display: none;
  }

  .navbar-nav {
    padding-right: 32px;
  }

  .navbar-nav li {
    width: 150px;
  }

  .navbar-nav .github-star {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: none;
  color: #fff;
}

@media(max-width: 767px) {
  .navbar-brand {
    width: 150px;
    height: 50px;
    background-image: url('../../img/logo-dart.png');
    background-size: cover;
  }
  .navbar-header {
    text-align: right;
  }
  .navbar-header > .github-star {
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
  }
  .navbar-nav .github-star {
    display: none;
  }
} 