{{ "<!-- FOOTER -->" | safeHTML }}
<footer class="container-fluid foot-wrap">
    <!--采用container，使得页尾内容居中 -->
        <div class="container">
            <div class="row">
                <div class="row-content col-lg-6 col-sm-6 col-xs-6">
                    <h3>{{ .Site.Params.footer.social.title }}</h3>
                    <ul class="social">
                        {{ range .Site.Params.footer.social.links }}
                            <li>
                                <a href="{{.link}}" title="{{.title}}" data-toggle="modal"  data-target="{{.id}}">
                                    <span class="{{.class}}"></span>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                    <!-- <p class="row-content-text">Keep up with the latest news from Nebula Graph</p> -->
                    <p class="row-content-text">Nebula Graph will respect your data privacy per our Privacy Policy</p>
                </div>
                <div class="row-content col-lg-6 col-sm-6 col-xs-6">
                    <h3>Community</h3>
                    <ul>
                         {{ range .Site.Params.footer.community }}
                            {{ range .links }}
                                <li>
                                    <a href="{{.link}}">
                                        {{.title}}
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <!-- <div class="row-content col-lg-3 col-sm-4 col-xs-6">
                    <h3>Company</h3>
                    <ul>
                     {{ range .Site.Params.footer.company }}
                            {{ range .links }}
                                <li>
                                    <a href="{{.link}}">
                                        {{.title}}
                                    </a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div> -->
            </div><!--/.row -->
        </div><!--/.container-->

        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright &copy;2020 VESoft Inc
        </p>

    <!-- modal（WeChat） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
               
                <div class="modal-body wechat">
                    <img src="../../img/wechat.png">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">close
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
