.blog-list {
  height: 100%;
  padding-top: 50px;
  background-image: url('../../img/header.png');
  overflow: hidden;
}

.blog-list .wrapper {
  height: 100%;
  background: #fff;
  overflow: hidden;
}

.blog-list .wrapper h3 {
  text-align: center;
}